## Recipe 2-1. Converting Text Data to Lowercase

In [1]:
text=['This is introduction to NLP','It is likely to be useful, to people ', 'Machine learning is the new electrcity','There would be less hype around AI and more action going forward','python is the best tool!','R is good langauage','I like this book','I want more books like this']

In [2]:
text

['This is introduction to NLP',
 'It is likely to be useful, to people ',
 'Machine learning is the new electrcity',
 'There would be less hype around AI and more action going forward',
 'python is the best tool!',
 'R is good langauage',
 'I like this book',
 'I want more books like this']

In [3]:
#convert list to data frame
import pandas as pd

data = pd.DataFrame({"tweet":text})
data.head()

                                               tweet
0                        This is introduction to NLP
1              It is likely to be useful, to people
2             Machine learning is the new electrcity
3  There would be less hype around AI and more ac...
4                           python is the best tool!

In [4]:
x = 'Testing'
x2 = x.lower()
print(x2)

testing

When you want to perform lowercasing on a data frame, use the apply function as follows.

In [11]:
data['tweet']= data['tweet'].apply(lambda x: x.lower())

In [12]:
data.head()

                                               tweet
0                        this is introduction to nlp
1               it is likely to be useful, to people
2             machine learning is the new electrcity
3  there would be less hype around ai and more ac...
4                           python is the best tool!

In [13]:
data_small = [x.lower() for x in text ]