## Recipe 2-2. Removing Punctuation

In [9]:
text=['This is introduction to NLP','It is likely to be useful, to people ', 'Machine learning is the new electrcity','There would be less hype around AI and more action going forward','python is the best tool!','R is good langauage','I like this book','I want more books like this']

In [10]:
import pandas as pd
df = pd.DataFrame({'tweet':text})
df.head()

                                               tweet
0                        This is introduction to NLP
1              It is likely to be useful, to people
2             Machine learning is the new electrcity
3  There would be less hype around AI and more ac...
4                           python is the best tool!

In [4]:
import re

s = "I. like. This book!"
s1 = re.sub("[^\w\s]","",s)

In [11]:
df['tweet'] = df['tweet'].apply(lambda x: re.sub("[^\w\s]","",x))

In [12]:
df.head()

                                               tweet
0                        This is introduction to NLP
1               It is likely to be useful to people
2             Machine learning is the new electrcity
3  There would be less hype around AI and more ac...
4                            python is the best tool